:local(.container) {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
  background: rgb(238, 250, 249);
  height: 100%;
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}