:local(.container) {
  margin-top: 2rem;

  .crypto-table {

    table,
    th,
    td {
      border: 1px solid white;
      border-collapse: collapse;
    }

    tr:nth-child(even) {
      background: silver;
    }

    th {
      background: silver;
    }

    tr {

      th,
      td {
        padding: 0.5rem 1rem;
        text-align: center;
      }

      td.green {
        color: green;
      }

      td.red {
        color: red
      }

      ;
    }
  }

  .input-row {
    input {
      width: 90%;
      padding: 5px 0.5rem;
      margin-bottom: 5px;
    }

    button {
      width: 100%;
      padding: 5px;
    }
  }
}